/* src/components/BackToHomeButton.css */
.back-home-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-home-button:hover {
    background-color: #45a049;
}