.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.admin-logo {
    width: 150px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100px;
  }

  td {
    vertical-align: text-bottom;
  }